
body {
  background-color: #333333;
  color: #fff;
  padding-top: 60px;
  font-family: 'Mitr', sans-serif;
}

.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.row{
  max-width: 70%;
  margin: 0 auto;
}

.img-container {
  max-width: 100%; 
  height: auto; 
  overflow: hidden;
  margin-bottom: 20px; 
}

.img-container img {
  max-width: 100%;
  height: auto;
  display: block;
  margin: auto;
  clip-path: polygon(
    34% 16%,
    66% 1%,
    99% 28%,
    94% 69%,
    68% 100%,
    31% 96%,
    5% 70%,
    4% 27%
  );
  
}


.container-main{
  margin-top: 15rem;
}


.small-logo {
  width: 48px;
  height: 48px;
  margin-right: 1.5rem;
}

footer {
  margin-left: 5rem;
}


@media (max-width: 768px) {
  .img-container {
    width: 80%; 
    margin: auto;
  }

  .my-self {
    text-align: center; 
  }

  .container-main{
    margin-top: 5rem;
  }

  footer {
    margin-left: 0; 
    text-align: center; 
  }
}
