body {
    background-color: #333333;
    color: #fff;
    padding-top: 60px;
    font-family: 'Mitr', sans-serif;
  }
  
  .navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .navbar-dark .navbar-nav .nav-link {
    color: #fff;
  }
  
 .info{
    width: 900px;
    margin: 5rem auto;
    background-color: rgb(16, 16, 16);
    text-align: center;
    padding: 3rem;
    border-radius: 1.5rem;
    box-shadow: 2px 2px 3px rgba(16, 16, 16, 0.6);
  }


  .info img{
    width: 50%;
    object-fit: cover;
    align-items: center;
    margin: 1rem auto;
    border-radius: 1.5rem;
  }

  .info h1{
    margin: 2rem auto;
  }

  .info p{
   font-size: 20px;
  }

  @media (max-width: 768px) {
  .info{
    max-width: 80%;
  }
  .info p{
    font-size: 15px;
   }
  
  }
  